<a href="https://colab.research.google.com/github/ZofiaLandowska/notes/blob/main/project1_landowska.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project \#1 Starter Code: 
Your first step is to decide which dataset you would like to work with for this project. 

For this project, you will get to choose what dataset you use. The ones we've used in class (other than Iris/Titanic as they're pretty small) are all fair game (wine quality, breast cancer, spotify). 

Here are some other possibilities--Kaggle has many many more. It might be a good idea to double check with me before grabbing a dataset that's not listed here:
- ü•ë¬†[Avocado Prices](https://www.kaggle.com/datasets/neuromusic/avocado-prices)
- üéüÔ∏è¬†[Admission to University](https://www.kaggle.com/datasets/akshaydattatraykhare/data-for-admission-in-the-university)
- üèéÔ∏è¬†[Speed Dating](https://www.kaggle.com/datasets/whenamancodes/speed-dating)
- üéì¬†[World University Ranking](https://www.kaggle.com/datasets/whenamancodes/world-university-ranking-2022-2023)
- üì∏¬†[Top Instagram Influencers](https://www.kaggle.com/datasets/whenamancodes/top-200-influencers-crushing-on-instagram)
- üå¶Ô∏è¬†[Weather Prediction](https://www.kaggle.com/datasets/thedevastator/weather-prediction)
- ü§ë¬†[Student Monthly Expenses](https://www.kaggle.com/datasets/shariful07/nice-work-thanks-for-share)
- üç∫¬†[Student Alcohol Consumption](https://www.kaggle.com/datasets/uciml/student-alcohol-consumption)
- üè´¬†[College Score Card](https://www.kaggle.com/datasets/thedevastator/u-s-department-of-education-college-scorecard-da)
- üéÆ¬†[IMDB Video Games](https://www.kaggle.com/datasets/muhammadadiltalay/imdb-video-games)
- üéµ¬†[Spotify Recommendation](https://www.kaggle.com/datasets/bricevergnou/spotify-recommendation)

# Self-Evaluation:

| **Description/Writing** | **I think I deserve** |
|-------------------------|-----------------------|
| 1: Problem              | /2                    |
| 2: Data Prep            | /2                    |
| 3: Research             | /10                   |
| 4: Analysis             | /10                   |
| 5: Bumps in the Road.   | /1                    |
| Total                   | /25                   |

# 1. Problem:
State the problem you are trying to solve with this machine learning experiment. Include a description of the data, where you got the data, and what you're trying to predict..

*your answer here*

# 2. Data Preparation
Explain your data preparation. What did you have to do to get your data in shape for your experiments? Why are you certain that you data is clean and prepared for use in your algorithms?

*your answer here*

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
import sklearn
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import neighbors
from sklearn import ensemble
from sklearn.preprocessing import StandardScaler

In [59]:
# load and preapre your data here:
path = '/content/drive/MyDrive/avocado.csv'
data = pd.read_csv(path)

data.isna().any()
np.unique(data.type)
np.unique(data.year)
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

# 3. Research

Put your code and your experiments here.

For full credit, your experiments should include the following models:
- __k Nearest Neighbors__
- __weighted k Nearest Neighbors__
- __decision tree__
- __random forest__ 

You need to demonstrate the performance of these models on both __normalized__ and __non-normalized__ data. 

For each of the above models, you need to include a __graph of at least 1 tuned parameter__.

In [60]:
# code goes here... don't forget to include graphs. Professor Moore loves graphs.
target= 'region'
predictors = ['AveragePrice', 'Total Volume', '4046', '4225', '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'year']
train_data, test_data, train_sln, test_sln = train_test_split(data[predictors], data[target], test_size = 0.2, random_state=41)
train_data.head()

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
10353,1.51,2285.46,3.69,1340.14,0.00,941.63,438.45,503.18,0.00,2015
3979,0.90,3237847.21,1322109.94,593238.74,114307.31,1208191.22,1102265.57,80776.26,25149.39,2016
5134,1.05,340564.79,150247.08,97713.54,6435.41,86168.76,63628.30,22540.46,0.00,2016
12598,0.74,100571.11,17624.22,12791.08,53.10,70102.71,16189.63,53913.08,0.00,2016
11798,1.00,625259.00,170184.00,269330.00,6905.00,178838.00,126058.00,52779.00,0.00,2015

In [61]:
# normalize the data
scaler = StandardScaler()
scaler.fit(train_data)
train_data_normalized = scaler.transform(train_data)
test_data_normalized = scaler.transform(test_data)

__k Nearest Neighbors__

In [62]:
knn = neighbors.KNeighborsClassifier()
knn.fit(train_data, train_sln)
predictions = knn.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,predictions))

Accuracy: 0.6504109589041096

In [63]:
knn = neighbors.KNeighborsClassifier()
knn.fit(train_data_normalized, train_sln)
predictions = knn.predict(test_data_normalized)
print("Accuracy:", metrics.accuracy_score(test_sln,predictions))

Accuracy: 0.47863013698630136

In [64]:
knn = neighbors.KNeighborsClassifier(n_neighbors=50)
knn.fit(train_data, train_sln)
predictions = knn.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,predictions))

Accuracy: 0.5523287671232877

__weighted k Nearest Neighbors__

In [65]:
wknn = neighbors.KNeighborsClassifier(weights='distance')
wknn.fit(train_data, train_sln)
predictions = wknn.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,predictions))

Accuracy: 0.670958904109589

In [66]:
wknn = neighbors.KNeighborsClassifier(weights='distance')
wknn.fit(train_data_normalized, train_sln)
predictions = wknn.predict(test_data_normalized)
print("Accuracy:", metrics.accuracy_score(test_sln,predictions))

Accuracy: 0.5501369863013699

In [67]:
wknn = neighbors.KNeighborsClassifier(weights='distance', n_neighbors=50)
wknn.fit(train_data, train_sln)
predictions = wknn.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,predictions))

Accuracy: 0.6065753424657534

__decision tree__

In [68]:
dt = tree.DecisionTreeClassifier()
dt.fit(train_data, train_sln)
dt_predictions = dt.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,dt_predictions))

Accuracy: 0.7857534246575343

In [69]:
dt = tree.DecisionTreeClassifier()
dt.fit(train_data_normalized, train_sln)
dt_predictions = dt.predict(test_data_normalized)
print("Accuracy:", metrics.accuracy_score(test_sln,dt_predictions))

Accuracy: 0.7868493150684932

In [70]:
dt = tree.DecisionTreeClassifier(max_features=5)
dt.fit(train_data, train_sln)
dt_predictions = dt.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,dt_predictions))

Accuracy: 0.7767123287671233

__random forest__

In [71]:
rf = ensemble.RandomForestClassifier()
rf.fit(train_data, train_sln)
rf_predictions = rf.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,rf_predictions))

Accuracy: 0.8956164383561643

In [72]:
rf = ensemble.RandomForestClassifier()
rf.fit(train_data_normalized, train_sln)
rf_predictions = rf.predict(test_data_normalized)
print("Accuracy:", metrics.accuracy_score(test_sln,rf_predictions))

Accuracy: 0.8964383561643836

In [73]:
rf = ensemble.RandomForestClassifier(n_estimators=10)
rf.fit(train_data, train_sln)
rf_predictions = rf.predict(test_data)
print("Accuracy:", metrics.accuracy_score(test_sln,rf_predictions))

Accuracy: 0.8682191780821917

#4. Analysis

What did you discover? What insights/recommendations do you have? What did you find that was interesting? Which model was your best model, which models didn't work well? Why do you think this is? In general, I want a discussion of your experiment, the results, and what they mean.

This chart might help organize your results:

| **Model**     | **Non-Normalized** | **Normalized** | **Parameter Tuned** |
|---------------|--------------------|----------------|---------------------|
| kNN           |                    |                |                     |
| w-kNN         |                    |                |                     |
| decision tree |                    |                |                     |
| random forest |                    |                |                     |

*your answer here*

# 5. Bumps in the Road
What challenges did you encounter? How did you overcome these challenges?

*your answer here*